# =====================
# Target Platform
# mediatek/filogic (MT7981B - ARM Cortex-A53)
# =====================
CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_cudy_tr3000-v1=y

# =====================
# Wi-Fi 驱动（MT7981B 板载 Wi-Fi）
# =====================
CONFIG_PACKAGE_kmod-mt7981-firmware=y
CONFIG_PACKAGE_mac80211-hwsim=n
